.nav-logout-button {
  background-color: #ff652f;
  color: #fff;
  text-shadow: 0 -1px 0 #c83400;
  font-size: 14px;
  padding: 4px 10px 4px;
  border-radius: 4px;
  height: 30px;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);// why are there three? I copied this from dev tools
  margin: 10px 10px;
} 